body {
    display: flex;
    justify-content: center;
}

.wrapper {
    border: 1px solid #41719c;
    padding: 20px 80px;
    display: inline-block;
}

label {
    background-color: #5b9bd2;
    color: white;
    width: 70px;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    border: 1px solid #41719c;
    margin-bottom: 10px;
    display: inline-block;
}

input {
    width: auto;
    line-height: 37px;
    margin-left: 10px;
    border: 1px solid #41719c;
}

select{
    width: 150px;
    height: 40px;
    line-height: 50px;
    margin-left: 10px;
    border: 1px solid #41719c;
}

button {
    width: auto;
    background-color: #70AD47;
    color: white;
    margin-left: 90px;
    border: 1px solid #41719c;
    padding: 15px 32px;
    border-radius: 7px;
    margin-top: 21px;
}